div {
    height: 300px;
    width: 600px;
}

h1 {
    text-align: center;
    outline: 5px solid black;
}

h3 {
    height: 50px;
    text-align: center;
    padding-top: 25px;
    outline: 5px solid black;
}